// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   = #027be3
$primary   = #ED6722
$secondary = #F89F22
$tertiary  = #666666

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$sky_blue = #C5E6E1

$typography-font-family = 'Tahoma', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$layout-header-shadow = $no-shadow


$toolbar-padding = 20px 0px 5px 0px
