// app global css
.input_class
  border: 1px solid #ED6722;
  border-radius: 10px;
  padding 2px 5px;
  width 100%;
  outline none;

.input_class_no_border
  padding 2px 5px;
  width 100%;
  outline none;
  border none;
  box-shadow none

.lawyer_border{
  border: 1px solid #92BDC1;
}

.light_green_border{
  border: 1px solid #ADDC7C;
}

.secondary_border{
  border: 1px solid #F89F22;
}

.grey_border{
  border: 1px solid #E6E6E6;
}


.float_left{
  float:left;
}

.float_right{
  float:right;
}

.width_8
  width 8px

.width_10
  width 10px

.width_30
  width 30px

.width_40
  width 40px

.width_50
  width 50px

.width_60
  width 60px

.width_70
  width 70px

.width_80
  width 80px

.width_90
  width 90px

.width_100
  width 100px

.width_120
  width 120px

.width_140
  width 140px

.width_145
  width 145px

.width_150
  width 150px

.width_180
  width 180px

.width_300
  width 300px

.width_320
  width 320px





.position_relative{
  position: relative;
}

.position_static{
  position: static;
}

.position_absolute{
  position: absolute;
}

.position_flex{
  position: fixed;
}

.margin_bottom_5{
  margin-bottom: 5px;
}

.margin_bottom_10{
  margin-bottom: 10px;
}

.margin_bottom_20{
  margin-bottom: 20px;
}

.margin_bottom_40{
  margin-bottom: 40px;
}

.margin_bottom_50{
  margin-bottom: 50px;
}

.margin_bottom_60{
  margin-bottom: 60px;
}





.width_15
  width 15px

.width_20
  width 20px

.border_radius_5
  border-radius 5px

.border_radius_10
  border-radius 10px

.border_radius_15
  border-radius 15px

.height_5
  height 5px

.height_8
  height 8px


.height_10
  height 10px

.height_15
  height 15px

.height_20
  height 20px

.height_25
  height 25px

.height_30
  height 30px

.min_height_30
  min-height 30px

.height_35
  height 35px

.height_40
  height 40px

.min_height_40
  min-height 40px

.height_50
  height 50px

.min_height_50
  min-height 50px

.height_55
  height 55px

.height_60
  height 60px

.min_height_60
  min-height 60px

.height_75
  height 75px

.height_80
  height 80px

.height_90
  height 90px

.min_height_90
  min-height 90px

.height_100
  height 100px

.min_height_100
  min-height 100px

.min_height_128
  min-height 128px

.min_height_150
  min-height 150px

.min_height_300
  min-height 300px

.height_400
  height 400px

.height_500
  height 500px;

.line_height_20{
  line-height :20px
}

.line_height_25{
  line-height :25px
}

.line_height_30{
  line-height :30px
}

.line_height_35{
  line-height :35px
}

.line_height_40{
  line-height :40px
}

.line_height_50{
  line-height :50px
}


.line_height_60{
  line-height :60px
}


.min_width_100{
  min-width 100px;
}

.width_10_p
  width 10%;

.width_12_p
  width 12%;

.width_15_p
  width 15%;

.width_20_p
  width 20%;

.width_25_p
  width 25%;

.width_30_p
  width 30%;

.width_33_p
  width 33%;

.width_40_p
  width 40%;

.width_45_p
  width 45%;


.width_50_p
  width 50%;

.width_55_p
  width 55%;

.width_60_p
  width 60%;

.width_70_p
  width 70%;

.width_80_p
  width 80%;


.width_85_p
  width 85%;

.width_90_p
  width 90%;

.width_100_p
  width 100%;

.width_110_p
  width 110%;

.width_120_p
  width 120%;

.width_140_p
  width 140%;

.width_150_p
  width 150%;

.width_160_p
  width 160%;

.height_1_p
  height 1%;

.height_3_p
  height 3%;

.height_4_p
  height 4%;


.height_5_p
  height 5%;



.height_6_p
  height 6%;

.height_8_p
  height 8%;

.height_10_p
  height 10%;

.height_12_p
  height 12%;

.height_13_p
  height 13%;

.height_14_p
  height 14%;

.height_15_p
  height 15%;

.height_18_p
  height 18%;

.height_20_p
  height 20%;

.height_25_p
  height 25%;

.height_30_p
  height 30%;

.height_33_p
  height 33%;

.height_34_p
  height 34%;

.height_35_p
  height 35%;

.height_40_p
  height 40%;

.height_45_p
  height 45%;



.height_50_p
  height 50%;

.height_55_p
  height 55%;

.height_57_p
  height 57%;

.height_60_p
  height 60%;

.max_height_60_p
  max-height 60%

.height_65_p
  height 65%;

.max_height_65_p
  max-height 65%

.height_70_p
  height 70%;

.max_height_70_p
  max-height 70%


.height_71_p
  height 71%;

.height_72_p
  height 72%;

.height_73_p
  height 73%;

.height_74_p
  height 74%;

.height_75_p
  height 75%;

.height_80_p
  height 80%;

.height_84_p
  height 84%;

.height_85_p
  height 85%;

.height_90_p
  height 90%;

.height_92_p
  height 92%;

.height_94_p
  height 94%;

.height_95_p
  height 95%;


.height_100_p
  height 100%;

.height_400_p
  height 400%;

.height_800_p
  height 800%;

.height_12_5_p
  height 12.5%;


.max_height_80_p{
  max-height:80%;
}

.font_size_8
  font-size 10px;
  transform:scale(0.8)
  margin-left -10px;


.font_size_10
  font-size 10px;
  transform:scale(0.9)
  margin-left -10px;

.font_size_12
  font-size 0.75em

.font_size_14
  font-size 0.875em

.font_size_16
  font-size 1em

.font_size_18
  font-size 1.125em

.font_size_20
  font-size 1.25em

.font_size_25{
  font-size: 1.5625em
}


.font_size_30
  font-size 1.875em

.font_size_40
  font-size 2.5em

.font_middle_line
  text-decoration line-through

.font_oblique{
  font-style :oblique;
}

.bg_sky_blue{
  background-color: #C5E6E1;
}

.bg_pos_mobile_grey{
  background-color: #F4F4F4;
}

.bg_pos_box_grey{
  background-color: #dcdcdc;
}

.bg_sky_hongbao{
  background-color: #F35543;
}

.bg_primary{
  background-color: #C5E6E1;
}

.bg_yellow{
  background-color: #ED6722;
}

.bg_egg_yellow{
  background-color: #FFBF00;
}



.bg_light_blue{
  background-color: #E5FAFA;
}

.bg_white{
  background-color: #FFFFFF;
}


.bg-primary{
    background: #ADDC7C !important;
}

.bg_secondary{
  background-color #F89F22;
}



.bg_confirmed{
  background-color: #79C843
}

.form_text_color
  color: #666666;

.font_color_white
  color: white;

.font_color_pos_mobile_grey
  color: #595959;

.font_color_primary
  color: #ADDC7C;

.font_color_primary_disable
  color:#F6EBBC;

.font_color_red
  color: red;

.font_color_hongbao
  color: #F35543;

.font_color_black
  color: black;

.font_color_yellow
  color: #ED6722;

.font_color_blue
  color: #0000CC;

.font_logo_color
  color: #ED6722;


.secondary_color
 color:#F89F22;

.primary_color
  color: #ED6722;

.light_green
  color: #92BDC1;

.weixin_green
  color: #77CC30

.zhifubao_blue
  color: #03A6E9

.white_color
  color: white;


.padding_5
  padding 5px

.padding_10
  padding 10px

.padding_15
  padding 15px

.padding_30
  padding 30px

.padding_50
  padding 50px

.padding_left_5
  padding-left 5px

.padding_left_10
  padding-left 10px

.padding_left_15
  padding-left 15px

.padding_left_20
  padding-left 20px



.padding_right_5
  padding-right 5px

.padding_right_10
  padding-right 10px

.padding_right_15
  padding-right 15px

.padding_right_20
  padding-right 20px


.padding_top_5
  padding-top 5px


.padding_top_8
  padding-top 8px

.padding_top_10
  padding-top 10px

.padding_top_15
  padding-top 15px

.padding_top_20
  padding-top 20px

.padding_top_30
  padding-top 30px

.padding_bottom_0
  padding-bottom  0px

.padding_bottom_5
  padding-bottom  5px

.padding_bottom_10
  padding-bottom  10px

.padding_10_p
  padding 10%

.padding_15_p
  padding 15%

.margin_left_5
  margin-left 5px;

.margin_left_10
  margin-left 10px;

.margin_left_10_p
  margin-left 10%

.margin_left_15
  margin-left 15px;

.margin_left_20
  margin-left 20px;

.margin_left_20_p
  margin-left 20%;

.margin_left_30_p
  margin-left 30%;

.margin_right_5
  margin-right 5px;

.margin_right_10
  margin-right 10px;

.margin_right_10_p
  margin-right 10%

.margin_right_15
  margin-right 15px;

.margin_right_20
  margin-right 20px

.margin_right_20_p
  margin-right 20%

.margin_top_5
  margin-top 5px;

.margin_top_10
  margin-top 10px;

.margin_top_15
  margin-top 15px;

.margin_top_20
  margin-top 20px;

.margin_top_20_p
  margin-top 20%;

.margin_top_30
  margin-top 30px;

.margin_top_30_p
  margin-top 30%;

.margin_top_40
  margin-top 40px;

.margin_top_50
  margin-top 50px;

.margin_top_60
  margin-top 60px;

.bottom_0
  bottom 0px;

.left_0
  left 0px;

.right_0
  right 0px;

.bottom_10
  bottom 10px;

.top_0
  top 0px;

.top_5
  top 5px;

.top_10
  top 10px;

.top_15
  top 15px;

.top_20
  top 20px;

.top_20_p
  top 20%;

.top_30
  top 30px;

.top_30_p
  top 30%;

.top_40
  top 40px;

.text_align_end{
  text-align :end;
}

.textRight input{
  text-align: end;
}

.text_align_start{
  text-align :start;
}

.text_align_center{
  text-align :center;
}

.content
  margin: 0px 15px;

.orange_button{
  width: 180px;
  height: 38px;
  padding-top: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #ED6722;
}

.radius_border{
  border: 2px solid #ED6722;
  padding: 5px 10px;
  border-radius :10px;
}


.border{
    border: 1px solid #ED6722;
    padding-left: 10px;
}

.border_green {
  border-left: 2px solid #addc7c;
}

.none_border{
  border: 0px solid #ED6722;
}

.font_weight_bold{
  font-weight: bold;
}

.q-stepper-step-content{
  margin-top -30px;
}

.q-stepper-dot{
  margin-right: 8px;
  font-size: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: currentColor;
}

.display_block{
  display block
}

.display_inline_block{
  display inline-block
}

.display_table_cell{
  display table-cell
}



.q-stepper-vertical .q-stepper-tab {
  padding-bottom: 35px;
  padding-top 10px
}

.overflow_hidden{
  overflow: hidden
}

.overflow_auto{
  overflow: auto
}

.overflow_x{
  overflow-x auto
  overflow-y hidden
}

.overflow_y{
  overflow-x: hidden
  overflow-y: auto
}

.margin_center{
  margin-left:auto;
  margin-right:auto;
}

//.q-tabs-head{
//  height: 100%;
//
//}


.border_bottom_light_blue{
  border-bottom: 1px solid #31ccec;
}

.border_bottom_hongbao_3{
  border-bottom: 3px solid #F35543;
}

.border_top_primary{
   border-top: 1px solid #ADDC7C;
 }

.border_bottom_dashed_primary{
  border-bottom: 1px dashed black;
}

.border_right_primary{
  border-right: 1px solid #ADDC7C;
}

.border_bottom_primary{
  border-bottom: 1px solid #ADDC7C;
}

.border_right_black{
  border-right: 1px solid black;
}

.border_bottom_black{
  border-bottom: 1px solid black;
}

.border_top_black{
  border-top: 1px solid black;
}

.border_dark_blue{
  border: 0.5px solid #0070c0;
}



.vertical_center{
  display: flex;
  align-items:center;
  justify-content:center;
}

.vertical_between{
  display: flex;
  align-items:center;
  justify-content:space-between;
}

.vertical_evenly{
  display: flex;
  align-items:center;
  justify-content:space-evenly;
}

.vertical_center_no_horizontal{
  display: flex;
  align-items:center;
}

.vertical_bottom_no_horizontal{
  display: flex;
  align-items: flex-end ;
}

.template {
    position: fixed;
    top: 0;
    left :0;
    width: 100vw;
    height: 100vh;
    z-index: 2001;
    background: #fff;
}

.double_underline{
  text-decoration:underline;
  text-decoration-color : black;
  padding-bottom:3px;
  border-bottom: 1px solid black;
}

.white_space_nowrap {
  white-space:nowrap;
}
.vip_grade {
  padding: 0!important;
}
.vip_grade .q-icon {
  margin: 7px 0;
}
.vip_grade .q-input-target {
  justify-content: flex-end!important;
}

.chart{
  margin-top: 10px;
  width: 100%;
  height: 70vh;
}

.left_chart{
  margin-top: 10px;
  width: 65%;
  height: 70vh;
}

.right_pie{
  margin-top: 10px;
  width: 35%;
  height: 70vh;
  overflow-y auto

}

.modal-content {
  overflow hidden
  width 460px
}

.q-table-container, .q-table-middle {
  height 100%
}
