// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #ED6722
$secondary : #F89F22
$tertiary  : #666666

$neutral   : #E0E1E2
$positive  : #21BA45
$negative  : #DB2828
$info      : #31CCEC
$warning   : #F2C037

$sky_blue : #C5E6E1

$typography-font-family : 'Tahoma', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-padding : 20px 0px 5px 0px

